<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="网页转PDF"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Url2Pdf"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="网页转PDF"
            android:theme="@style/Theme.Url2Pdf"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PdfPreviewActivity"
            android:exported="false"
            android:label="预览 PDF"
            android:theme="@style/Theme.Url2Pdf" />

        <provider
            android:name=".PdfShareProvider"
            android:authorities="com.kelokeloo.url2pdf.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>
